dashscope
openai 
python-dotenv
torch # required for sigclip
transformers # required for sigclip
huggingface-hub 
ruff 
pgvector 
accelerate
fastapi
uvicorn[standard]
gradio
psycopg2-binary
numpy
pillow
tqdm
requests
h5py>=3.8.0